

body {
    background-color: sandybrown;
    background: linear-gradient(20deg, sandybrown, saddlebrown)
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px; 
    margin-top: 20px;
}

#canvas {
    background-image: url(./gameBackground.png);
    
}